
@import url(https://simon89032.github.io/DiscordTheme/CascadiaCode.ttf);
* {
    font-family: "CascadiaMono"!important;
}

:root {
  /* Color palette */
  --wildberry-primary: #170027;
  --wildberry-secondary: #350058;
  --wildberry-secondary-alt:#F40174;
  --wildberry-tertiary: #1c00b8;
  --wildberry-accent-color : #891c87;
  --wildberry-input-box: #350058;
  --wildberry-mention:  #313131;
  --wildberry-red: #7e3d35;
  --wildberry-svg: #790038;
  --wildberry-less-hot: #903f67;

}
html, body, .theme-dark {
  --background-primary: var(--wildberry-primary);
  --background-secondary: var(--wildberry-secondary);
  --background-secondary-alt: var(--wildberry-secondary-alt);
  --background-floating: var(--wildberry-secondary);
  --background-tertiary: var(--wildberry-tertiary);
  --background-accent: var(--background-primary);
  --background-mentioned-side:#00ffb76c;
  /* --header-primary: var(--wildberry-accent-color); */
  --interactive-active: var(--wildberry-accent-color);
  --radio-group-dot-foreground: var(--wildberry-accent-color);
  /* Chat input box */
  --channeltextarea-background: var(--wildberry-input-box);
  --text-link: var(--wildberry-secondary-alt);
}
