@import url(https://simon89032.github.io/DiscordTheme/CascadiaMono.ttf);

* {
    font-family: "Cascadia Mono"!important;
    font-weight: 600;
    font-style: bold;
}

:root {
  /* Color palette */
  --sfmtheme-primary: #170027;
  --sfmtheme-secondary: #170027;
  --sfmtheme-secondary-alt:#310054;
  --sfmtheme-tertiary: #170027;
  --sfmtheme-accent-color : #b41d66;
  --sfmtheme-input-box: #310054;
  --sfmtheme-svg: #ffffff;
}

.theme-dark {
  --background-primary: var(--sfmtheme-primary);
  --background-secondary: var(--sfmtheme-secondary);
  --background-secondary-alt: var(--sfmtheme-secondary-alt);
  --background-floating: var(--sfmtheme-secondary);
  --background-tertiary: var(--sfmtheme-tertiary);
  --background-accent: var(--background-primary);
 
  --interactive-active: var(--sfmtheme-accent-color);
  --radio-group-dot-foreground: var(--sfmtheme-accent-color);

  /* Chat input box */
  --channeltextarea-background: var(--sfmtheme-input-box);
}
 
.theme-dark svg {
  color: var(--sfmtheme-svg);
}
