@import url(https://simon89032.github.io/DiscordTheme/CascadiaMono.ttf);
@import url(https://simon89032.github.io/DiscordTheme/CascadiaCode.ttf);
* {
    font-family: "Cascadia Mono"!important;
    font-weight: 600;
    font-style: bold;
    font-size: 16;
}

:root {
  /* Color palette */
  --sfmtheme-primary: #170027;
  --sfmtheme-secondary: #00b850;
  --sfmtheme-secondary-alt:#da4a4a;
  --sfmtheme-tertiary: #9500ff;
  --sfmtheme-accent-color : #b41d66;
  --sfmtheme-input-box: #25003f;

  --sfmtheme-svg: #b41d66;
  --sfmtheme-less-hot: #00e1ff;
}

.theme-dark {
  --background-primary: var(--sfmtheme-primary);
  --background-secondary: var(--sfmtheme-secondary);
  --background-secondary-alt: var(--sfmtheme-secondary-alt);
  --background-floating: var(--sfmtheme-secondary);
  --background-tertiary: var(--sfmtheme-tertiary);
  --background-accent: var(--background-primary);
 
  --interactive-active: var(--sfmtheme-accent-color);
  --radio-group-dot-foreground: var(--sfmtheme-accent-color);

  /* Chat input box */
  --channeltextarea-background: var(--sfmtheme-input-box);
  --text-link: var(--sfmtheme-secondary-alt);
}
 
.theme-dark svg {
  color: var(--sfmtheme-svg);
}

.theme-dark .colorGrey-2DXtkV {
  background-color: var(--sfmtheme-less-hot);
}
